.menu-title {
  color: orange;
  font-weight: bold;
}

.menu-card {
  width: 18rem;
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu-card:hover {
  background-color: orange;
  color: white;
  transform: scale(1.03);
}

.menu-card:hover .card-title,
.menu-card:hover .card-text {
  color: white;
}
